# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_CORNED_LEFT
	def_bool $(shields_list_contains,corned_left)

config SHIELD_CORNED_RIGHT
	def_bool $(shields_list_contains,corned_right)

config SHIELD_CORNED_DONGLE
	def_bool $(shields_list_contains,corned_dongle)
